# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build artifacts
dist/
build/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Logs
*.log

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
